# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

# Build
build/

# Grunt
/node_modules/
none

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Composer
/vendor/
